/*    COLOR SCALE     */

/* #fff3e6 --> Tan  */
/* #2168eb --> Blue  */
/* #1e212d --> Black  */



/*     GLOBAL         */

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  height: 300vh; 
  /* margin: 0; */
}



/*     MAIN SECTION     */

.section-main {
  height: 40rem; 
  background: url('./images/mountain-saltLake.jpg')no-repeat bottom center fixed;
  background-size: cover;
}


/* Style NavBar content*/
a.icon {
  display: none;
  border-radius: 5px;
  line-height: 27px;
}

.fa {
  line-height: 10px;
}

@media screen and (max-width: 750px) {
  #nav-items a {
    display: none;
    padding-bottom: 1em;
  }
  
  a.icon {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  #nav-items.responsive {
    position: absolute;
    left: 0;
    top: 60px;
    background-color: #313236;
    width: 100%;
    transition: .5s ease-out;
  }
  
  a.icon {
    position: relative;
    font-size: 20px;
    background-color: #e9cdaf;
    width: 35px;
    text-align: center;
    height: 27px;
    align-items: baseline;
  }

  .fa {
    color: black
  }
  
  #nav-items.responsive a {
    display: block;
    text-align: left;
    padding: 1em 0;
  }
}


header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  position: fixed;
  top: 0;
  align-items: baseline;
  z-index: 1;
  background: transparent;
}

.nav-scroll {
  background-color: #313236;
  padding: 7px 35px;
}

@media screen and (max-width: 750px){
  header {
    padding: 10px 35px;
  }
}

@media screen and (max-width: 750px){
  header {
    background-color: #313236;
    padding: 7px 35px;
  }
}

@media screen and (min-height: ){
  header {
    background-color: #313236;
    padding: 7px 35px;
  }
}


#nav-logo {
  font-size: 35px;
  font-family: 'Oleo Script', cursive;
  text-decoration: none;
}

#nav-logo > a {
    color: #e9cdaf;
    /* color: #2168eb; */
}

#nav-items {
  justify-content: space-between;
  letter-spacing: 1px;
}

.nav-item-link {
  margin: 0 25px;
  font-size: 15px;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

.nav-item-link:hover {
  color: #e9cdaf;
  text-decoration: none;
  transition: 0s;
}

.nav-header {
  padding-top: 12rem;
}

.nav-header > div {
  text-align: center;
}


.start-button {
  width: 50px;
  height: 45px;
  background-color: #fff3e6;
  color: #1e212d;
  align-items: center;
  border: 1px solid #fff3e6;
  border-radius: 7px;
  padding: 20px 25px;
  font-family: 'Average', serif;
  opacity: .7;
  text-decoration: none;
}

.start-button:hover {
  background-color:#ddc2a6;
  border: 1px solid #ddc2a6;
  color:#1e212d;
  transition: .7s;
  font-weight: 800;
  text-decoration: none;
  font-family: 'Average', serif;
  opacity: 1;
}


h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  margin: 0 0 50px 0;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Average', serif;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;

}



/*     PORTFOLIO     */

.portfolio-section {
  margin: auto 50px;
}

#portfolio-head, 
#skill-head, 
#life-head, 
#contact-head {
  color: #1e212d;
  margin: 80px 0 auto;
}

.divider-line-header {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

hr {
  width: 10em;
  height: 1px;
  background: #1e212d;
  margin-top: 5px;
}

.portfolio-icons, 
.portfolio-icons > a {
  margin: auto auto 40px;
  font-size: 2.5rem;
  text-align: center;
  color: #1e212d;
}

.social-link:hover {
  opacity: .5;
}

.portfolio-gallery {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.portfolio-div {
  margin: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 2px 2px 75px 20px #e9d4be;
  border-radius: 10px;
  /* background-color: #e9d4be; */
}

.portfolio-div > a {
  width: fit-content;
  margin-bottom: 5px;
}

.portfolio-item {
  border-radius: 15px;
  width: fit-content;
}

.portfolio-item:hover {
  opacity: .25;
  transition: .5s;
}




/*     SKILLS      */

.skills-container {
  margin: auto 80px;
  display: flex;
  justify-content: space-between;
}


/* ICON DEFAULT LAYOUT */
.skills-icon {
  font-size: 90px;
}

@media all and (max-width: 1000px) {
  .skills-icon {
    font-size: 75px;
  }
}

@media all and (max-width: 750px) {
  .skills-icon {
    font-size: 55px;
  }
}
@media all and (max-width: 550px) {
  .skills-icon {
    font-size: 35px;
  }
  .skills-container {
    margin: 0;
  }
}

.fa-css3-alt {
  color: #4071f8ee
}
.fa-html5 {
  color: #d45252
}
.fa-git-square {
  color: #d48252
}
.fa-js-square {
  color: #cecc6a;
}
.fa-react {
  color: #3c92e2;
}
.fa-node-js {
  color: #6bcf5a;
}





/*     LIFE           */

.life-section {
  height: 80vh;
}





/*     CONTACT        */

.contact-section {
  height: 80vh;
}
