
@import '../../variables';


.program-header {
  text-align: center;
  padding-top: 4rem;
  h1 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5){
      font-size: 4rem;
    }
  }
  p {
    font-style: italic;
    color: gray;
    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5){
      font-size: 1.25rem;
    }
  }
}

.program-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 3rem 0 7rem;
  flex-wrap: wrap;
  @media (max-width: $laptopSm){
    display: flex;
    flex-direction: column;
  }
}

.card {
  flex-shrink: 0;
  // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  box-shadow: 25px 31px 15px rgb(0 0 0 / 31%);
  margin: 25px;
  border-radius: 5px;
  width: 25rem;
  background-color: #f1f1f1;
  @media (max-width: $phone){
    width: 280px;
    margin: 25px 0;
  }
}

.card__image {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 17rem;
  background-position: top;
}

.blue-filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: background-color 0.4s ease;
}

.card-1-img {
  background: url('../../images/powerhousefitness.jpg');
  background-size: cover;
  &:hover {
    cursor: pointer;
    background: linear-gradient(to left, #3a88e2ce, #f0ececa9),url('../../images/powerhousefitness.jpg') center;
    background-size: cover;
    transition: .5s;
  }
}

.card-2-img {
  background: url('../../images/cfp-web.jpg') center;
  background-size: cover;
  &:hover {
    cursor: pointer;
    background: linear-gradient(to left, #f68080c0, #f0ececa9),url('../../images/cfp-web.jpg') center;
    background-size: cover;
    transition: .5s;
  }
}

.card-3-img {
  background: url('../../images/tetris-cover.jpg') center;
  background-size: cover;
  &:hover {
    cursor: pointer;
    background: linear-gradient(to left, #7db97dc0, #f0ececa9),url('../../images/tetris-cover.jpg') center;
    background-size: cover;
    transition: .5s;
  }
}

.btn-reveal-2 {
  position: absolute;
  // font-size: 28px;
  top: 30%;
  left: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: $secondaryColor;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.btn-reveal-3 {
  position: absolute;
  top: 70%;
  left: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: $secondaryColor;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.btn-reveal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: $secondaryColor;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.btn-reveal:hover,
.btn-reveal-2:hover,
.btn-reveal-3:hover {
  background-color: #084ca0fd;
}

.blue-filter:hover .btn-reveal, 
.blue-filter:hover .btn-reveal-2,
.blue-filter:hover .btn-reveal-3 {
  opacity: 1;
}

.btn-reveal-icon {
  // padding-bottom: 7px;
  font-size: 32px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.price-title {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  border: 2px solid $dark
}

.card-title {
  padding: 25px 0;
  align-items: center;
  width: 100%;
  font-size: 25px;
  font-weight: 800;
  margin: 0;
}

.card-title-1 {
  background: linear-gradient(to left, #3a88e2ce, #f0ecec52)
}

.card-title-2 {
  background: linear-gradient(to left, #f68080c0, #f0ecec52)
}

.card-title-3 {
  background: linear-gradient(to left, #7db97dc0, #f0ecec52)
}

.card-buttons {
  background-color: $dark;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.card-button-icon {
  font-size: 28px;
}

.card-button-text {
  font-size: 18px;
  :hover {
    text-decoration: none!important;
  }
}

.modal-scroll {
  overflow: scroll;
  height: 200px;
  // background-color: rgb(238, 238, 238);
  border: 2px solid black;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

  h4 {
    padding: 12px 0 0 12px;
    font-style: italic;
    color: rgb(177, 67, 67);
    font-weight: 700;
  }

  p {
    padding-left: 12px;
  }
}

.modal-buttons {
  margin-top: 30px;
  a {
    font-size: 24px;
    margin: 0 5px;
    button {
      
      &:hover {
        background-color: gray
      }
    }
  }
}

// Always show scroll bars
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(134, 80, 80, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, .5);
}