@import '../../_variables';

h6 {
  margin: 15px 0;
  border-bottom: solid 1px gray;
  padding-bottom: 15px;
  text-align: left;
  font-size: 1.15rem!important;
  
  h4 {
    // margin-left: 25px;
    // text-align: left;
    font-style: italic;
    // color: gray;
    margin-bottom: 5px;
    color: #b75f5f;
  }


}

.modal-p {
  word-spacing: 2.5px;
  font-size: 15px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  /* min-height: 30%; */
  width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index: 101;
  padding: 40px;

}

.img-div {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;

  div {
    display: flex;
    flex-direction: column;

    .list-tech {
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 5px 5px;
        list-style-type: none;
        margin: 5px 5px;
        background: rgb(206, 202, 202);
      }
    }
  }
}

img {
  width: 300px;
  @media (max-width: $tablet){ 
    width: 300px;
  }
}

.modal-button {
  float: right;
}