@import '../../_variables';

.modal-h1 {
  margin: 25px 0;
  font-size: 22px;
  border-bottom: solid 1px;
}

.modal-p {
  word-spacing: 2.5px;
  font-size: 15px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* min-height: 30%; */
  width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index: 101;
  padding: 40px;

}

.img-div {
  width: 100%;
  text-align: center;
}

img {
  width: 400px;
  @media (max-width: $tablet){ 
    width: 300px;
  }
}

.modal-button {
  float: right;
}