.contact-container {
  height: 80vh;
  background: url("../../images/contact.jpeg") top fixed;
  background-size: cover;
  background-color: #fff3e6;
  padding: 10px 24px;
  /* background-size: 50% auto; */
  /* background-size: 3em 25%; */
  /* background-size: auto 6px; */
  /* background-size: auto auto; */
}

.contact-header {
  text-align: center;
  padding-top: 25px;
}

.contact-header > h1 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #1e212d;
}

.submit {
  height: 150px;
}

.submitBtn {
  background-color: #fff3e6;
  color: black;
}

.submitBtn:hover {
  background-color: #2168eb;
}

@media screen and (max-width: 480px){
  .contact-header > h1 {
    font-size: 2.25rem;
  }
  
  .col-8 {
    padding: 0;
    margin: 0;
    width: 90%;
  }
}
