.contact-container {
  height: 87vh;
  background: url("../../images/contact1.jpeg") center;
  background-size: cover;
  background-color: #fff3e6;
  padding: 10px 24px;
  /* background-size: 50% auto; */
  /* background-size: 3em 25%; */
  /* background-size: auto 6px; */
  /* background-size: auto auto; */
}

.contact-header {
  text-align: center;
  padding-top: 25px;
}

.contact-header > h1 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #fff;
}

.contact-p {
  font-size: 1.05rem;
  color: #fff3e6;
  font-style: italic;
  letter-spacing: .25px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px;
}

.message {
  height: 150px;
}

.submitBtn {
  background-color: #fff3e6;
  color: black;
}

.submitBtn:hover {
  background-color: #2168eb;
}

@media all and (max-width: 900px){
  .contact-container {
    height: auto;
    padding-bottom: 50px;
  }

  .contact-header {
    padding: 50px auto;
  }
  
}

@media screen and (max-width: 820px){
  .contact-container {
    height: auto;
    padding-bottom: 20px;
  }

  .contact-header > h1 {
    font-size: 2.25rem;
  }

  .contact-header {
    background-color: #00000091;

  }
  
  .col-8 {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .pt-5 {
    padding: 0!important;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .contact-header {
      padding-top: 300px;
    }
    .contact-header > h1 {
      font-weight: 700;
      font-size: 4rem;
    }
    .contact-p {
      font-size: 1.55rem;
    }
}
