.contact-container {
  height: 80vh;
  background: url("../../images/saltLake.jpg");
  background-size: cover;
  background-color: #fff3e6;
  padding: 10px 24px;
}

.contact-header {
  text-align: center;
  padding-top: 25px;
}

.contact-header > h1 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #fff;
}

.submit {
  height: 150px;
}

@media screen and (max-width: 480px){
  .contact-header > h1 {
    font-size: 2.25rem;
  }
  
  .col-8 {
    padding: 0;
    margin: 0;
    width: 90%;
  }
}