$primaryColor: #d2ae6b;
$primaryLightColor: #fff3e6;
$secondaryColor: #2168eb;
$secondaryLightColor: #dbe2ef;
$dark: #1e212d;
$gray: #474545;
$lighterGray: #777474;
$lightestGray: #adadad;

$monitor: 2250px;
$monitorMd: 1800px;
$monitorSm: 1650px;
$laptop: 1450px;
$laptopMd: 1200px;
$laptopSm: 1080px;
$tabletLg: 905px;
$tablet: 800px;
$phoneBg: 700px;
$phone: 550px;
$phoneSm: 380px;