$primaryColor: #143A56;
$primaryLightColor: #eeeeee;
$secondaryColor: #3484e7;
$secondaryLightColor: #dbe2ef;
$gray: #474545;
$lighterGray: #777474;
$lightestGray: #adadad;

$monitor: 2250px;
$monitorMd: 1800px;
$monitorSm: 1650px;
$laptop: 1450px;
$laptopMd: 1200px;
$laptopSm: 1080px;
$tablet: 800px;
$phoneBg: 700px;
$phone: 550px;
$phoneSm: 380px;