* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif;
}

html {
  height: 350vh;
  width: 100vw;
}

.main-background {
  height: 40rem;
  background: url('images/mountain-saltLake.jpg') no-repeat bottom center fixed;
  background-size: cover;
}

.portOneImg {
  background: url('images/cfp-cover-1.jpg')
  no-repeat bottom center fixed;
  background-size: cover;
}

.portTwoImg {
  background: url('images/barz-cover.jpg')
  no-repeat bottom center fixed;
  background-size: cover;
  /* border-radius: 25px; */
}